<div class="center-container centered">
  <h1>Meet the Makers</h1>
  <div>
    <h2>Ben Morris</h2>
    <p>
      Ben has a placeholder bio until he writes his. Cheers!
    </p>
  </div>
  <div>
    <h2>Nicholas Rose</h2>
    <p>
      Nicholas is a computer scientist and prospective businessman from Austin, Texas. Besides
      computer science, you can often find him swing dancing with Purdue Night Train, hiking, reading,
      writing, and generally enjoying life.

      Nicholas worked on the front end part of this project.
    </p>
  </div>
</div>
