<div class="center">

  <div>
    <a href="javascript:void(0)" class="btn btn-primary chart-option" (click)="setDisplayedList(0)">
      Messages
    </a>
    <a href="javascript:void(0)" class="btn btn-primary chart-option" (click)="setDisplayedList(1)">
      Stashes
    </a>
    <a href="javascript:void(0)" class="btn btn-primary chart-option" (click)="setDisplayedList(2)" >
      Clients
    </a>
  </div>

  <div>
    <div *ngIf="isMessageList()">
      <app-dashboard-message-list [messageList]="messageList"></app-dashboard-message-list>
    </div>
    <div *ngIf="isStashList()">
      <app-dashboard-stash-list [stashList]="stashList"></app-dashboard-stash-list>>
    </div>
    <div *ngIf="isClientList()">
      <app-dashboard-client-list [clientList]="clientList"></app-dashboard-client-list>
    </div>
  </div>

</div>
