<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a routerLink="/dashboard" routerLinkActive="active">
        Stash
      </a>
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/stashsomething">Stash Stuff</a>
    </li>
    <li>
      <a routerLink="/map">Map</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
