<div class="center">
  <div class="center-container">
    <div class="row">
      <img class="logo" src="../../assets/Stash logo no Lines.png" >
    </div>
    <h1>Welcome to Stash!</h1>
    <form>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email">
      </div>
      <div class="form-inline">
          <button type="submit" class="btn btn-primary">Create Account</button>
          <button class="btn btn-secondary">Login</button>
      </div>
    </form>
  </div>
</div>
