<div class="center">
  <div class="center-container">
    <div class="row">
      <img class="logo" src="../../assets/Stash logo no Lines.png" >
    </div>
    <h1>Welcome to Stash!</h1>
    <form>
      <div class="input-group-btn inline-center text-center">
        <button href="javascript:void(0)" type="submit" class="btn btn-primary create-account-button" (click)="this.mongoDB.authenticate('http://localhost:4200/dashboard')">Create Account</button>
        <button href="javascript:void(0)" class="btn btn-secondary" (click)="this.mongoDB.authenticate('http://localhost:4200/dashboard')">Login</button>
      </div>
    </form>
  </div>
</div>
