.center {
  margin: auto;
}

.dashboard-buttons {
  width: 33%;
  margin-top: 5%;
}

.submit {
  color: white;
  background-color: #006cb2;
  border-color: rgba(0, 0, 0, 0);
}
.submit:hover:disabled {
  cursor: not-allowed;
}
.submit:hover:not(:disabled) {
  background-color: #009aff;
}
.submit:active {
  background-color: #ff9600 !important;
}

button {
  align-content: center;
  margin: auto;
  display: block;
}

form {
  margin: 1%;
  margin-top: 15%;
}
