<div class="row">
  <div class="col-4">
    <div class="sepa">
      <button class="btn btn-primary">
        Stash something
      </button>
      <button class="btn btn-secondary">
        Add available space
      </button>
    </div>
  </div>
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Storage Requested</th>
          <th scope="col">Stash Description</th>
          <th scope="col">Time Period</th>
        </tr>
      </thead>
      <tbody *ngFor="let message of messages">
        <tr>
          <th scope="row">{{message.client}}</th>
          <td>{{message.storageRequested}}</td>
          <td>{{message.stashDescription}}</td>
          <td>{{message.timePeriod}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-6">
      Row 2 Column 1
    </div>
    <div class="col-6">
      Row 2 Column 2
    </div>
</div>
