<div class="container">
    <h1>Stash Something</h1>

    <form (ngSubmit)="submit()" #stashSubmissionForm="ngForm">

      <div class="form-group">
        <label for="address">Address</label>
        <select [(ngModel)]="newTransaction.address" name="address" required
          class="form-control" id="address" *ngIf="filteredAddresses">
            <option *ngFor="let address of filteredAddresses">{{address}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="start-date">Start Date</label>
        <input [(ngModel)]="newTransaction.start_date" name="start_date" required
          class="form-control" type="date" id="start_date">
      </div>

      <div class="form-group">
        <label for="end_date">End Date</label>
        <input [(ngModel)]="newTransaction.end_date" name="end_date" required
          class="form-control" type="date" id="end_date">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input [(ngModel)]="newTransaction.description" name="description" required
          class="form-control" type="text" id="description" placeholder="Enter description">
      </div>

      <div class="form-group">
        <label for="boxes">Number of Boxes</label>
        <input [(ngModel)]="newTransaction.boxes" name="boxes" required
          class="form-control" type="number" id="boxes" (keyup)="filterAddresses()">
      </div>


      <div>
        <button href="javascript:void(0)" type="submit"
          class="btn submit" [disabled]="!stashSubmissionForm.form.valid">Submit</button>
        <button routerLink="/dashboard" class="btn cancel" type="button">Cancel</button>
      </div>

    </form>
  </div>
